@charset "UTF-8";
/* CSS Document */

body{
    background-color: #FFFFFF;
    background: url(../images/background.png) repeat;
    font-family: 'GeosansLight', helvetica, arial;
    width: 1024px;
    margin: 0 auto;
    height: auto;
}

a{
    color: #3F3F3F;
    text-decoration: none;
}

header {
    height: 100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: -10px;
}

li{
    text-decoration: none;
}

img{
    border: none;
    margin:none;
    padding: none;
}

#content{
  background-color: #E6E6E6;
  height: 1260px;
}

.hidden{
  display: none;
}

/******OPEN**ABOUT**PAGE******/

#aboutContent{
  background-color: #E6E6E6;
  height: 1260px;
}

#aboutPageTitle p{
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
  font-family: 'GeosansLight';
  color: #3F3F3F;
  text-transform: uppercase;
  width: 100%;
  padding-top: 60px;
}


#aboutPagePhoto {
  float: left;
  margin-left: 50px;
}

#aboutPageContent {
  float: right;
  position: relative;
  width: 400px;
  margin-right: 100px;
}

#aboutPageContent li{
  width: 400px;
  text-align: left;
  font-size: 22px;
  font-family: 'GeosansLight';
  display: list-item;
  color: #3F3F3F;
  padding: 10px;
}

/***OPEN FOOTER***/

#aboutFooter{
  margin-top: 1045px;
  width: 994px;
  height: 120px;
  background: url(../images/brickwall.png) repeat;
  padding: 15px;
  position: absolute;
  margin-bottom: 50px;
}

#footerNav p{
   font-size: 14px;
   font-family: Courier New;
   text-decoration:none;
   color:#EE1D3A;
   font-weight: bold;
   margin-left: 300px;
   float: right;
   margin-top: 2px;
   padding-right: 20px;
}

#face{
  float: left;
  margin-top: -35px;
  margin-right: 15px;
  padding-left: 20px; 
}

#insta{
  float: left;
  margin-top: -35px;
  margin-right: 15px;
}

#twitter{
  float: left;
  margin-top: -35px;
  margin-right: 15px;
}

#youtube{
  float: left;
  margin-top: -35px;
  margin-right: 15px;
}


/***CLOSE FOOTER***/

/******CLOSE**ABOUT**PAGE******/
